
{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}



<body>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h4> <i class="fa fa-hand-paper-o" aria-hidden="true"></i> &nbsp; Welcome, {{user}} </h4>

        <hr>

        <p> This is your dashboard where you can perform any of the following: </p>

        <li> Track your orders </li>
        <li> Manage costumer account </li>


    </div>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h4> <i class="fa fa-address-book" aria-hidden="true"></i> &nbsp; Manage Customer account </h4>

        <hr>

        <p> Update or delete your account </p>


        
        

        <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'profile-management'%}"> Profile management </a>
        <br> <br>
        <a class="btn btn-danger navbar-btn text-white" type="button"  href="/"> LOGOUT </a>

    </div>

    <br>

{% endblock %}




